nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navigatieBalk{
    display: inline;
    float: left;
    display: block;
    padding: 8px;
    background-color: #070707;}
  
    .navigatieHover {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navigatieHover:hover {
    background-color: #e92929;
  }


  h1 {text-align: center}

 .link{text-align: center;
      color:#e92929 ;}

table, th, td 
{border: 1px solid black;
 border-collapse: collapse;
 color: rgb(231, 221, 221);
 }
 
th, td
{background-color: #363636;}

body
{background-color:#bbbbbb}

.blogposts {
  color: white;
  background-color: #171717;
  padding: 20px 30px; 
  border-radius: 5px; 
  text-decoration: none; 
  display: inline-block; 
  font-weight: bold;
  text-align: center;
  }
  
  .blogposts:hover {
  background-color: #e92929; 
  }

