nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    display: inline;
  }
  
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #070707;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #e92929;
  }
 h1 {text-align: center}